@font-face {
    font-family: 'Staatliches';
    src: url('/assets/fonts/staatliches-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/staatliches-regular-webfont.woff') format('woff'),
         url('/assets/fonts/staatliches-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* reset */
html, body, div, span, object, abbr, acronym, address, cite, code, em, img, q, s, small, strike, strong, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  #z-index:1;
}

/* globals */
body {
  font:400 16px/1 "Arial Narrow", "AvenirNextCondensed-Regular", "Futura-CondensedMedium", "sans-serif-condensed", "HelveticaNeue-CondensedBold", "Ubuntu Condensed", "Liberation Sans Narrow", Arial, sans-serif;
  /*  Using 0087BD instead of 00719F
      for better accessiblity
      4.59:1 contrast ratio (vs 3.41:1)  */
  color: #0087BD;
  font-stretch: condensed;
  background-color: #0f1415;
}

h1, h2, h3, h4, .campaign p {
  font-family: Staatliches, "Arial Narrow", "AvenirNextCondensed-Regular", "Futura-CondensedMedium", "sans-serif-condensed", "HelveticaNeue-CondensedBold", "Ubuntu Condensed", "Liberation Sans Narrow", Arial, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
  text-transform: uppercase;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10vh 30px;
}
.logo {
  width: 400px;
  max-width: 75vw;
  margin-bottom: 10vh;
  display: inline-block;
}
h1 {
  font-size: 72px;
  line-height: .9;
  margin: 0 0 .25em;
  color: #d65f21;
}
h2 {
  font-size: 48px;
  line-height: 1;
  color: #d65f21;
  margin: 2em 0 .125em;
}
h3 {
  font-size: 30px;
  line-height: 1;
  color: #d65f21;
  margin: 0 0 .25em;
}
h4 {
  font-size: 24px;
  margin: 0 0 .5em;
}
p, li {
  font-size: 23px;
  line-height: 1.3;
}
a {
  color: inherit;
}



/* components */
.about p {
  font-size: 26px;
  margin: 0 0 2em;
}
.campaign {
  background: #00719F;
  margin: 8vh 0 3vh;
  padding: 18px 24px;
}
.campaign p {
  font-size:36px;
  line-height: 1.3;
  color: #0f1415;
  margin: 0;
}
.campaign a {
  display: block;
}

.schedule table {
  width: 100%;
  font-size: 22px;
  line-height: 1.3;
}
.schedule h4 {
  margin: 1em 0 0;
}
.schedule tbody td {
  padding: 4px 0;
}
.schedule tbody tr td:nth-child(1) {
  width: 2.4em;
}
.schedule tbody tr td:nth-child(2) {
  width: 3.5em;
  text-align: center;
}

.talks h3 {
  margin: 2em 0 0;
  color: inherit;
}


footer {
  margin-top: 10vh;
  border-top: 10px solid #00719f;
  padding: 6vh 0 0;
}
footer a {
  font:400 36px/1.3 Staatliches, "Arial Narrow",sans-serif;
  color: #d65f21;
}



/* mobile styles */
@media screen and (max-width: 800px) {
  main {
    padding-right: 4vw;
    padding-left: 4vw;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 22px;
  }
  p, li, .about p {
    font-size: 18px;
  }
  .campaign {
    padding: 4vw;
  }
  .campaign p {
    font-size: 24px;
  }
  .campaign a {
    display: inline;
  }
  .schedule table {
    font-size: 18px;
  }
  .schedule tbody tr td:nth-child(1) {
    width: auto;
    font-size: 15px;
  }
}
